* {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'League Gothic', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

*::-moz-selection {
  background: none;
  color: white;
}

*::selection {
  background: none;
  color: white;
}

.navbar {
  background: url(../image/navbar_background.png);
  height: 625.499px;
  background-size: cover;
  position: absolute;
  width: 100%;
}

.navbar a {
  text-decoration: none;
}

.navbar .logo {
  position: absolute;
  width: 190px;
  margin-top: 80px;
  margin-left: 7%;
}

.navbar .Products {
  color: black;
  margin-left: 50%;
  margin-top: 90px;
}

.navbar .Products:hover {
  color: #FFAD4C;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.navbar .About {
  color: black;
  margin-left: 60%;
  margin-top: -28px;
}

.navbar .About:hover {
  color: #FFAD4C;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.navbar .Furniture {
  color: black;
  margin-left: 70%;
  margin-top: -28px;
}

.navbar .Furniture:hover {
  color: #FFAD4C;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.navbar .Contact {
  color: black;
  margin-left: 80%;
  margin-top: -28px;
}

.navbar .Contact:hover {
  color: #FFAD4C;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.navbar h1 {
  color: #4B4B4B;
  font-weight: 900;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  margin-top: 7%;
  margin-left: 7%;
}

.navbar p {
  color: #4B4B4B;
  opacity: 0.7;
  margin-left: 7%;
  margin-top: 2%;
  font-size: 24px;
}

.navbar button {
  padding: 12px 23px;
  background: #FFAD4C;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: #fff;
  border: none;
  border-radius: 6px;
  margin-left: 7%;
  margin-top: 5%;
}

.navbar button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 5px #FFAD4C;
          box-shadow: 0 0 10px 5px #FFAD4C;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.main_section h1 {
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-top: 50%;
  margin-left: 7%;
}

.main_section .card_background {
  position: absolute;
  width: 250px;
  margin-left: 7%;
  margin-top: 55%;
}

.main_section .card_background_one {
  position: absolute;
  width: 250px;
  margin-left: 28%;
  margin-top: 55%;
}

.main_section .image1 {
  position: absolute;
  width: 250px;
  margin-top: 55%;
  margin-left: 7%;
}

.main_section .image1:hover {
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.main_section .image2 {
  position: absolute;
  width: 250px;
  margin-top: 55%;
  margin-left: 28%;
}

.main_section .image2:hover {
  cursor: pointer;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.main_section .card_background_two {
  position: absolute;
  width: 250px;
  margin-top: 55%;
  margin-left: 49.5%;
}

.main_section .image3 {
  position: absolute;
  width: 250px;
  margin-left: 49.5%;
  margin-top: 55%;
}

.main_section .image3:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.main_section .card_background_three {
  position: absolute;
  width: 250px;
  margin-top: 55%;
  margin-left: 71%;
}

.main_section .image4 {
  position: absolute;
  width: 250px;
  margin-left: 71%;
  margin-top: 55%;
}

.main_section .image4:hover {
  cursor: pointer;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.main_section .ellipse {
  position: absolute;
  width: 40px;
  margin-top: 57%;
  margin-left: 68%;
}

.main_section .Chair {
  position: absolute;
  margin-top: 73%;
  font-size: 24px;
  margin-left: 8%;
}

.main_section .Chair:hover {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.main_section .room {
  position: absolute;
  font-size: 16px;
  margin-top: 75.5%;
  margin-left: 8%;
}

.main_section .summa {
  position: absolute;
  margin-top: 77.5%;
  margin-left: 8%;
}

.main_section .suma_minus {
  position: absolute;
  color: gray;
  margin-top: 77.6%;
  margin-left: 18%;
}

.main_section .Chair1 {
  position: absolute;
  margin-top: 73%;
  font-size: 24px;
  margin-left: 29%;
}

.main_section .room1 {
  position: absolute;
  font-size: 16px;
  margin-top: 75.5%;
  margin-left: 29%;
}

.main_section .summa1 {
  position: absolute;
  margin-top: 77.5%;
  margin-left: 29%;
}

.main_section .suma_minus1 {
  position: absolute;
  color: gray;
  margin-top: 77.6%;
  margin-left: 39%;
}

.main_section .Chair2 {
  position: absolute;
  margin-top: 73%;
  font-size: 24px;
  margin-left: 51%;
}

.main_section .room2 {
  position: absolute;
  font-size: 16px;
  margin-top: 75.5%;
  margin-left: 51%;
}

.main_section .summa2 {
  position: absolute;
  margin-top: 77.5%;
  margin-left: 51%;
}

.main_section .suma_minus2 {
  position: absolute;
  color: gray;
  margin-top: 77.6%;
  margin-left: 60%;
}

.main_section .Chair3 {
  position: absolute;
  margin-top: 73%;
  font-size: 24px;
  margin-left: 72%;
}

.main_section .room3 {
  position: absolute;
  font-size: 16px;
  margin-top: 75.5%;
  margin-left: 72%;
}

.main_section .summa3 {
  position: absolute;
  margin-top: 77.5%;
  margin-left: 72%;
}

.main_section .suma_minus3 {
  position: absolute;
  color: gray;
  margin-top: 77.6%;
  margin-left: 81.5%;
}
/*# sourceMappingURL=main.css.map */